*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--dark-text);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--accent-color);
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

html.dark {
  --background: rgb(18 18 18);
  --background-color: rgb(22 22 22);
  --text-color: rgb(255, 255, 255);
  --modal-color: rgb(217, 255, 253);
  --modal-text-color: rgb(56, 48, 48);
  --modal-close: rgb(56, 48, 48);
  --modal-hover: rgb(100, 100, 100);
}

html.light {
  --text-color: rgb(22 22 22);
  --background-color: rgb(217, 255, 253);
  --background: rgb(252, 255, 255);
  --modal-color: rgb(19, 19, 19);
  --modal-text-color: rgb(255, 255, 255);
  --modal-close: rgb(255, 255, 255);
  --modal-hover: rgb(100, 100, 100);
}

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1536px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex_m {
  display: flex;
}

.sidebar {
  padding: 20px 40px;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.loader {
  width: 78px;
  height: 78px;
  border: 5px solid var(--text-color);
  border-bottom-color: #eb6e4b;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  bottom: 600px;
  left: 950px;
}

.hide {
  opacity: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.text-white {
  color: var(--text-color);
}

.search {
  padding: 8px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  border: 0px solid var(--background);
  border-radius: 20px;
  width: 100%;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input_search {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-left: 16px;
  background-color: transparent;
  border: 0 solid var(--text-color);
  font-size: 16px;
  color: var(--text-color);
  width: 100%;
}

.button_Submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.error_block_c {
  border: var(--background) solid 1px;
  background-color: var(--background);
  color: var(--text-color);
  border-radius: 25px;
  margin: 15px 15px;
  display: none;
  justify-content: center;
  align-items: center;
}

.error_text_c {
  background-color: var(--background);
  color: var(--text-color);
  border-radius: 25px;
  font-weight: 550;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
}

.alert_img {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
  margin-left: 5px;
}

.current_icon {
  width: 400px;
  height: 400px;
}

.current_forecast {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.current_degree {
  font-size: 6rem;
  color: var(--text-color);
  font-weight: 100;
}

.current_city_date {
  margin-top: 20px;
}

.current_day {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-color);
}

.current_month {
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--text-color);
}

.city_title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.75rem;
  color: var(--text-color);
}

.date_text {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

.geoButton {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  outline: none;
}

.line {
  margin-top: 16px;
}

.current_icon_day {
  color: var(--text-color);
  display: flex;
  margin-top: 16px;
}

.current_time {
  margin-top: 16px;
  display: flex;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}

.icon_color {
  color: var(--text-color);
}

.current_time_text {
  color: var(--text-color);
  margin-left: 8px;
}

.header {
  width: 100%;
}

.header_header {
  display: flex;
  justify-content: space-between;
}

.title {
  border: none;
}

.rightside {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.font-black {
  font-weight: 700;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-color);
}

.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp_buttons {
  display: flex;
  align-items: center;
}

p::selection {
  background-color: var(--modal-hover);
}

.coupledegree {
  opacity: 0;
  width: 0;
  height: 0;
}

.coupledegree + p {
  cursor: pointer;
}

.coupledegree:checked + p {
  background-color: var(--text-color);
  color: var(--background-color);
}

.degree_c {
  border-radius: 9999px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  width: 2.5rem;
  height: 2rem;
  color: var(--text-color);
  transition: all 0.15s;
}

.temp_button_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.degree_c:hover {
  transform: scale(1.22);
}

.temp_button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin_button {
  margin-left: 16px;
}

.weekforecast_block {
  padding: 24px;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_day {
  background-color: var(--background-color);
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  height: 170px;
  width: 120px;
  -webkit-box-shadow: 0px 13px 23px -11px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 13px 23px -11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 13px 23px -11px rgba(0, 0, 0, 0.6);
}

.time_card {
  color: var(--text-color);
}

.forecast_day {
  margin: 0;
  color: var(--text-color);
}

.w-16 {
  width: 4rem;
}
.h-16 {
  height: 4rem;
}

.dark_block {
  display: none;
}

.moon_icon {
  fill: var(--text-color);
  display: none;
  height: 24px;
  width: 24px;
  display: none;
}

.sentence_help {
  background-color: var(--background-color);
  height: 100px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  margin-top: 15px;
  border-radius: 200px;
}

.help_text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
}

.theme_button {
  background-color: transparent;
  margin-left: 32px;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.degrees_block {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.font_medium {
  font-weight: 500;
  color: var(--text-color);
}

.description_text {
  font-weight: 400;
  color: var(--text-color);
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.text_gray_400 {
  color: var(--text-color);
}

.wind_icon_svg {
  height: 40px;
  width: 60px;
}

.path_color {
  fill: #333;
}

.text_xs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

.todays_highlights {
  margin-top: 64px;
}

.highlights_block {
  display: flex;
  flex-direction: column;
}

.highlights_title {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--text-color);
  margin: 0;
}

.highlights_cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 16px;
}

.highlights_card {
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 14rem;
  -webkit-box-shadow: 0px 13px 23px -11px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 13px 23px -11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 13px 23px -11px rgba(0, 0, 0, 0.6);
}

.w-full {
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.596);
}

.wind_block {
  display: flex;
  align-items: flex-end;
  margin-top: 24px;
}

.humidity_block {
  display: flex;
  margin-top: 16px;
}

.wind_text {
  font-weight: 300;
  font-size: 4rem;
  color: var(--text-color);
}

.wind_speed {
  margin-bottom: 1.25rem;
  color: var(--text-color);
}

.sun_block {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.sun_img {
  width: 36px;
  height: 36px;
}

.sun_text {
  color: var(--text-color);
  margin-left: 16px;
}

@media (max-width: 1200px) {
  .flex_m {
    display: block;
  }
  .sidebar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 600px) {
  .highlights_cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .error_text_c {
    font-size: 12px;
    text-align: center;
  }
  .current_icon {
    height: 215px;
    width: 215px;
  }
  .search {
    margin-top: 15px;
  }
  .date_text {
    display: block;
  }
  .city_title {
    margin-bottom: 35px;
  }
  .weekforecast_block {
    padding: 0;
  }
  .title {
    padding-right: 15px;
  }
  .container {
    padding: 0;
  }
  .sentence_help {
    width: auto;
  }
  .help_text {
    font-size: 1rem;
    margin: 0 25px;
  }
  .modal_title {
    text-align: center;
  }
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: var(--modal-color);
  margin: auto;
  padding: 0;
  border: 5px solid var(--modal-text-color);
  border-radius: 20px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animate {
  from {
    top: -320px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  font-size: 30px;
  font-weight: bold;
  color: var(--modal-close);
  margin-right: 10px;
  position: absolute;
  right: 5px;
  top: -5px;
}

.close:hover,
.close:focus {
  color: var(--modal-hover);
  text-decoration: none;
  cursor: pointer;
}

.modal_title {
  color: var(--modal-text-color);
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.modal_text {
  color: var(--modal-text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
